html 
    {
    background: #fff;
    background-image: linear-gradient(200deg, rgb(68, 150, 200) 20%, rgb(0, 0, 175) 100%);
    }

body 
    {
    background: #fff;
    margin: 0 auto;
    max-width: 800px;
    padding: 2px 2px 4px;
    }
